.business-advisory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    text-align: center;
    padding: 2rem 0;
    background-color: rgba(221, 221, 221, 0.8);
    padding-bottom: 4rem;
  }
  
  .business-advisory h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .business-advisory p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 800px;
  }
  
  .business-advisory-button {
    background-color: rgba(50, 50, 50, 0.8) !important;
    color: white !important;
    border: none !important;
    padding: 0.8rem 1.2rem !important;
    font-size: 1.2rem !important;
    border-radius: 5px !important;
    transition: background-color 0.3s;
  }
  
  .business-advisory-button:hover {
    background-color: rgba(50, 50, 50, 1) !important;
  }
  
  /*--------- Mobile Compatibility ---------*/
  
  @media (max-width: 768px) {
    .business-advisory h1 {
      font-size: 1.5rem;
    }
  
    .business-advisory p {
      font-size: 1rem;
    }
  }
  