.small-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 6rem;
    background-color: #4a148cc4;
    color: white;
  }
  
  .small-header a {
    color: white;
  }
  
  .small-header a:hover {
    text-decoration: underline;
  }
  
  .small-header .contact-info {
    display: flex;
    gap: 1rem; /* Set the gap between the contact information items */
  }

  /*--------- Mobile Compatibility   ---------*/

  @media (max-width: 600px) {
    .small-header {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 1rem;
    }
  
    .contact-info {
      margin-bottom: 0.5rem;
    }
  }
  
  